/*

Index
-----------------------------------------------------------
1. Mobile
    1.1 Global styles (variables/constants)
    1.2 Homepage styles
    1.3 Summary styles
    1.4 Ratings styles
    1.5 Cast styles
    1.6 Contact styles
-----------------------------------------------------------
2. Desktop
    2.1 Global styles
    2.2 Homepage styles
    2.3 Summary styles
    2.4 Ratings styles
    2.5 Cast styles
    2.6 Contact styles

*/


/*-------------------- 1. Mobile --------------------*/


/*-------------------- 1.1 Global styles (variables/constants) --------------------*/
/* import some google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Roboto&display=swap');

/* Vars en fonts */

:root{
    --primary-color: #c97800;
    --secondary-color: #795246;
    --tertiary-color: #ECE0DC;

    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Dosis', helvetica, sans-serif;
}

/* Global styles */

body {
    padding: 0;
    margin: 0;
}

.content {
    margin-top: 15vh;
    background-color: #F1F2F3;
}

.section {
    padding: 0.5rem 4vw;
}

.section--dark {
    background-color: #222;
    color: white;
}

.section--top-rounded {
    border-radius: 25px 25px 0 0;
}

.section__title {
    font-size: 2rem;
    letter-spacing: 1.6;
    color: var(--primary-color);
    font-family: 'Roboto', helvetica, sans-serif;
}

.section__paragraph {
    line-height: 1.8rem;
    color: #555;
}

.subtitle {
    font-style: italic;
}

.table {
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
}

.table__row:nth-child(even) {
    background-color: #ddd;
}

/*  header & navbar styles */


.page-header, .navbar__list {
    display: flex;
}

.page-header {
    height: 15vh;
    background-color: #222;
    position: fixed;
    top: 0;
    width: 100vw;
    flex-direction: column;
    z-index: 999;
}

.logo-container {
    height: 7vh;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.logo-container__logo {
    margin: 0;
    height: 100%;
}

.navbar {
    width: auto;
    height: 8vh;
}

.navbar__list {
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
}

.navbar__link {
    text-decoration: none;
    color: white;
    padding: 1px 1px;
    display: block;
    font-weight: bold;
    font-family: 'Roboto', helvetica, sans-serif;
}

.button {
    padding: 0.5rem 20px;
    font-size: 18px;
    border: 0;
    border-radius: 5%;
    font-family: 'Roboto', helvetica, sans-serif;
}

a.button {
    display: block;
    text-decoration: none;
}

.button--orange {
  color: white;
  background-color: var(--primary-color);
}

.button--orange:hover {
background-color: var(--secondary-color);
cursor: pointer;
}

/*-------------------- 1.2 Homepage styles --------------------*/

.title {
    text-transform: uppercase;
    letter-spacing: 1.9;
    font-size: 3.5rem;
    text-align: center;
    position: absolute;
    top: 5rem;
    width:100%;
}

.title--white {
    color: white;
}

.title--smaller {
    font-size: 3rem;
}

.banner {
    height: 30vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.banner__img {
    width: 100%;
}

.cast__list {
    padding: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.cast__member{
    width: 100%;
    margin: 1rem 0;
    list-style-type: none;
    background: white;
    border: 1px solid #ccc;
}

.cast__link {
    height: 100%;
    width: 100%;
}

.cast__link, .cast__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cast__img{
    max-height: 20rem;
    clip-path: circle();
}

.reviews__review {
    display: flex;
    flex-flow: column;
    align-items: center;

    padding: 1rem;
    background: white;
    border: 1px solid #ccc;
}

.reviews__quote{
    font-style: italic;
}


.streams__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.movie-links__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-links__link {
margin-right: 10px;
}

.movie-links__img{
    width: 100%;
    height: 100%;
    filter: invert(1);
}



/*-------------------- 1.3 Summary styles --------------------*/

.summary-section__img{
    width: 100%;
    height: auto;
    margin-top: 15px;

}


/*-------------------- 1.4 Ratings styles --------------------*/
.table__link{
    color: #c97800;
    text-decoration: none;
}

.table__link:hover{
    text-decoration: underline;
}

.table__link:active{
    color:#222;
}


/*-------------------- 1.5 Cast styles --------------------*/

.content__cast{
    text-align: left;
}

.cast__element__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.cast__element__acting-career{
    font-size: 18;
}
.cast__element__in-martian{
    font-size: 18;
}

.cast__element__title{
    padding: 20px;
    text-align: center;
    font-size: 40;
}

/*-------------------- 1.6 Contact styles --------------------*/

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
  }
  
.contact-form__label {
    margin-bottom: 10px;
    font-weight: bold;
    }

.contact-form__input {
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    }

.form-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    }

.form-button:hover {
    background-color: var(--secondary-color);
    }

.section.adress-block {
    padding: 20px;
    text-align: center;
    }

/*-------------------- 2. Desktop --------------------*/

@media screen and (min-width: 800px){
    /*-------------------- 2.1 Global styles --------------------*/

    /*-------------------- 2.2 Homepage styles --------------------*/
    .page-header {
        flex-direction: row;
        height: 8vh;
    }

    .navbar {
        width: 70%;
    }

    .content {
        margin-top: 8vh;
    }

    .banner__banner {
        display: block;
        width: 100%;
    }

    article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .introduction {
        order: 1;
        width: 50%;
    }

    .streams {
        order: 2;
        width: 30%;
    }

    .cast {
        order: 3;
        width: 50%;
    }

    .cast__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
    }

    .cast__member {
        max-width: 40%;
    }

    .streams__buttons {
        flex-direction: column;
        gap: .5rem;
    }

    .reviews {
        order: 5;
        width: 30%;
    }

    .movie-info {
        order: 6;
    }


    /*-------------------- 2.3 Homepage styles --------------------*/

    /*-------------------- 2.4 Summary styles --------------------*/

    /*-------------------- 2.5 Cast styles --------------------*/

    /*-------------------- 2.6 Contact styles --------------------*/

}
