/*

Index
-----------------------------------------------------------
1. Mobile
    1.1 Global styles (variables/constants)
    1.2 Homepage styles
    1.3 Summary styles
    1.4 Ratings styles
    1.5 Cast styles
    1.6 Contact styles
-----------------------------------------------------------
2. Desktop
    2.1 Global styles
    2.2 Homepage styles
    2.3 Summary styles
    2.4 Ratings styles
    2.5 Cast styles
    2.6 Contact styles

*/


/*-------------------- 1. Mobile --------------------*/


/*-------------------- 1.1 Global styles (variables/constants) --------------------*/
/* import some google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik&display=swap');

/* Vars */

:root{
    --primary-color: #c97800;
    --secondary-color: #795246;
    --tertiary-color: #ECE0DC;
}

/* Global styles */

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.content {
    margin-top: 15vh;
}

.title {
    text-transform: uppercase;
    letter-spacing: 1.5;
    font-size: 3rem;
    text-align: center;
    color:white;

}

.section {
    margin: 30px 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px 0;
    background-color: #EDEDED;
}

.section__title {
    font-size: 2rem;
    letter-spacing: 1.6;
    color: var(--primary-color);
}

.section__paragraph {
    line-height: 1.5rem;
    color: #555;
}

article {

    padding: 10px;
    overflow: hidden;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-size: cover;
}



.table__row:nth-child(even) {
    background-color: #ddd;
}

/*-------------------- 1.2 Homepage styles --------------------*/

.banner-container {
    display: none;
}

.banner-container__banner {

}



/*  header & navbar styles */


.page-header, .navbar__list {
    display: flex;
}

.page-header {
    height: 15vh;
    background-color: #222;
    position: fixed;
    top: 0;
    width: 100vw;
    flex-direction: column;
}

.logo-container {
    height: 7vh;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.logo-container__logo {
    margin: 0;
    height: 100%;
}

.navbar {
    width: auto;
    height: 8vh;
}

.navbar__list {
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
}

.navbar__link {
    text-decoration: none;
    color: #EEE;
    padding: 1px 1px;
    display: block;
    font-weight: bold;
}

/*-------------------- 1.3 Homepage styles --------------------*/

/*-------------------- 1.4 Summary styles --------------------*/

/*-------------------- 1.5 Cast styles --------------------*/

/*-------------------- 1.6 Contact styles --------------------*/

/*-------------------- 2. Desktop --------------------*/

@media screen and (min-width: 800px){
    /*-------------------- 2.1 Global styles --------------------*/

    /*-------------------- 2.2 Homepage styles --------------------*/

    .banner-container__banner {
        display: block;
        width: 100%;
    }

    /*-------------------- 2.3 Homepage styles --------------------*/

    /*-------------------- 2.4 Summary styles --------------------*/

    /*-------------------- 2.5 Cast styles --------------------*/

    /*-------------------- 2.6 Contact styles --------------------*/

}
